@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  background: #faf6ed url("../images/bg.png");
  color: #949087;
  font-family: sans-serif;
}

p {
  line-height: 1.6;
}

.container {
  background: #fff;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1.5rem;
}

header {
  background: url("../images/header.svg") no-repeat center top/cover;
  height: 170px;
  margin: 26px auto 0;
  max-width: 1000px;
}

.page-title {
  font: 3.75rem "Amatic SC", cursive;
  margin: 10px 0;
  padding-top: 20px;
}

.page-description {
  font-size: 14px;
  margin-bottom: 0;
  padding: 30px 0 0;
}

.page-title,
.page-description {
  text-align: center;
}

main {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.post-home {
  margin-bottom: 30px;
}

.post-title {
  background-image: linear-gradient(45deg, #fff 30%, #ccc 30%, #ccc 50%, #fff 50%, #fff 80%, #ccc 80%, #ccc 100%);
  background-size: 6px 6px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.post-title h2 {
  background: #fff;
  font: 500 1.5rem / 1.5 'M PLUS Rounded 1c', sans-serif;
  padding: 0 10px 12px;
}

.post-title a {
  color: #949087;
  text-decoration: none;
}

.post-title a:hover {
  color: #605c55;
}

.post-thumb {
  margin: 0 0 10px 0;
  position: relative;
}

.post-date {
  background: #93d8d0;
  border-radius: 30% 60% 50% 70% / 50%;
  color: #fff;
  font: 1.5rem 'Amatic SC', cursive;
  height: 80px;
  left: 0;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 80px;
}

.post-date span {
  border-bottom: dotted 2px rgba(255, 255, 255, .5);
  display: block;
  font-size: 1rem;
  margin: 4px auto 0;
  padding-bottom: 2px;
  width: 60%;
}

.post-img {
  border-radius: 40% 70% 50% 30% / 50%;
  height: 260px;
  object-fit: cover;
  width: 100%;
}

.btn {
  text-align: right;
  margin-top: 1rem;
}

.btn a {
  background: #eda1a1;
  border: 2px dashed #e38787;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #eda1a1;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}
.btn a:hover {
  background: #eda1a1;
  color: #fff;
  border: 2px dashed #eda1a1;
  box-shadow: 0 0 0 5px #e38787;
}
ul li::before {
  background: #93d8d0;
  border-radius: 50%;
  display: inline-block;
  content: "";
  height: 8px;
  margin: 0 8px 2px 0;
  width: 8px;
}

.side-box {
  border: solid 1px #ccc;
  border-radius: 6px;
  margin-bottom: 4rem;
  outline: solid 2px #ccc;
  outline-offset: 4px;
  padding: .875rem;
  position: relative;
}

.side-box::before {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: -1rem;

  /* Font */
  color: #949087;
  content: "\f1b0";
  font-family: "Font Awesome 5 Pro";
  font-size: 1.5rem;
  font-weight: 900;
}

.side-box a:hover {
  color: #7ac69f;
}

.side-box h3 {
  font-family: "Amatic SC", cursive;
  font-size: 1.875rem;
  letter-spacing: .1rem;
  margin: .875rem 0 1.125rem;
  text-align: center;
}

.side-box li {
  border-bottom: 1px dashed #ccc;
  display: flex;
  padding: 1rem .35rem;
}

.side-box li:first-child {
  padding-top: 0;
}

.side-box li:last-child {
  border-bottom: 0;
  padding-bottom: .5rem;
}

.side-box li::before {
  background: #93d8d0;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 6px 10px 0 0;
  width: 8px;
}

.side-box li a {
  flex: 1;
  line-height: 1.4;
}

.newsletter-form {
  display: flex;
  margin-top: 1.5rem;
}

.newsletter-form input[type='email'] {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 10px 0 0 10px;
  padding: 1rem;
  width: 75%;
}

.newsletter-form input[type='email']::placeholder {
  color: #ccc;
}

.newsletter-form input[type='submit'] {
  background: #eda1a1;
  border-radius: 0 10px 10px 0;
  color: #fff;
  cursor: pointer;
  margin-left: -5px;
  padding: 1.1rem;
}

.newsletter-form input[type='submit']:hover {
  background: #e38787;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  main {
    width: 68%;
  }
  aside {
    width: 26%;
  }
  .post-thumb {
    float: left;
    margin: 0 3rem 1rem 0;
    shape-outside: circle();
  }
  .post-img {
    height: 180px;
    width: 220px;
  }
}