@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  background: #faf6ed url("../images/bg.png");
  color: #949087;
  font: 1.6rem sans-serif;
}

header {
  background: url("../images/header.svg") no-repeat center top/cover;
  height: 170px;
  margin: 26px auto 0;
  max-width: 1000px;
}

.page-title {
  font: 3.75rem "Amatic SC", cursive;
  margin: 10px 0;
  padding-top: 20px;
}

.page-description {
  font-size: 14px;
  margin-bottom: 0;
  padding: 30px 0 0;
}

.page-title,
.page-description {
  text-align: center;
}

main {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.post-home {
  margin-bottom: 30px;
}

.post-title {
  background-image: linear-gradient(45deg, #fff 30%, #ccc 30%, #ccc 50%, #fff 50%, #fff 80%, #ccc 80%, #ccc 100%);
  background-size: 6px 6px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  main {
    width: 68%;
  }
  aside {
    background: #ff0;
    width: 26%;
  }
}