@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  background: #faf6ed url("../images/bg.png");
  color: #949087;
  font-family: sans-serif;
}

header {
  background: url("../images/header.svg") no-repeat center top/cover;
  height: 170px;
  margin: 26px auto 0;
  max-width: 1000px;
}

.page-title {
  font: 3.75rem "Amatic SC", cursive;
  margin: 10px 0;
  padding-top: 20px;
}

.page-description {
  font-size: 14px;
  margin-bottom: 0;
  padding: 30px 0 0;
}

.page-title,
.page-description {
  text-align: center;
}

main {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.post-home {
  margin-bottom: 30px;
}

.post-title {
  background-image: linear-gradient(45deg, #fff 30%, #ccc 30%, #ccc 50%, #fff 50%, #fff 80%, #ccc 80%, #ccc 100%);
  background-size: 6px 6px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.post-title h2 {
  background: #fff;
  font: 500 1.5rem / 1.5 'M PLUS Rounded 1c', sans-serif;
  padding: 0 10px 12px;
}

.post-title a {
  color: #949087;
  text-decoration: none;
}

.post-title a:hover {
  color: #605c55;
}

.post-thumb {
  margin: 0 0 10px 0;
  position: relative;
}

.post-date {
  background: #93d8d0;
  border-radius: 30% 60% 50% 70% / 50%;
  color: #fff;
  font: 1.5rem 'Amatic SC', cursive;
  height: 80px;
  left: 0;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 80px;
}

.post-date span {
  border-bottom: dotted 2px rgba(255, 255, 255, .5);
  display: block;
  font-size: 1rem;
  margin: 4px auto 0;
  padding-bottom: 2px;
  width: 60%;
}

.post-img {
  border-radius: 40% 70% 50% 30% / 50%;
  height: 260px;
  object-fit: cover;
  width: 100%;
}

.btn a {
  background: #eda1a1;
  border: 2px dashed #e38787;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #eda1a1;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}
.btn a:hover {
  background: #eda1a1;
  color: #fff;
  border: 2px dashed #eda1a1;
  box-shadow: 0 0 0 5px #e38787;
}
/*ul li::before {*/
/*  background: #93d8d0;*/
/*  border-radius: 50%;*/
/*  display: inline-block;*/
/*  content: "";*/
/*  height: 8px;*/
/*  margin: 0 8px 2px 0;*/
/*  width: 8px;*/
/*}*/
ul li::before {
  color: #f00;
  content: "Q.";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  main {
    width: 68%;
  }
  aside {
    width: 26%;
  }
  .post-thumb {
    float: left;
    margin: 0 3rem 1rem 0;
    shape-outside: circle();
  }
  .post-img {
    height: 180px;
    width: 220px;
  }
}