@charset "UTF-8";

body {
  margin: 0;
}

.container {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  scroll-snap-align: center;
}

.hero {
  background-image: url("../images/bread1.jpg");
  padding-top: 10vh;
  text-align: center;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  margin-bottom: 2rem;
}

@media (min-width: 701px) {
  .title {
    font-size: 7rem;
  }
}

