.ct-label {
    font-size: 1rem;
    fill: #fff;
}

.ct-series-a .ct-slice-pie {
    fill: #2d3374;
}

.ct-series-b .ct-slice-pie {
    fill: #3a7edf;
}

.ct-series-a .ct-bar {
    stroke: #3a7edf;
}

.ct-bar {
    stroke-width: 16%;
}